
/*RTL*/
.mr-auto, .mx-auto {
    margin-right: initial !important;
    margin-left: auto!important;
} 
 ul.navbar-nav.mr-auto {
    text-align: right;
    direction: rtl;
}
.nav-link {
    display: initial;
    border-top: 4px solid rgba(0,0,0,0);

}
a.nav-link:hover {
    border-top: 4px solid #000!important;
    transition: all .4s ease-in-out!important;
}
b {
    font-weight: 600;
}
.jumbotron{
    margin-bottom:0;
}
/*MQ*/
/* needs to expand bp */

@media only screen and (min-width: 1481px){
    .container {
        max-width: 1481px;
    }
}
@media only screen and (min-width: 981px){
    .container {
        max-width: 1080px;
    }

    #logo {

        max-width: 150px;
      
    }  


}


@media only screen and (max-width: 781px){
.navbar-toggler {
    float: right;
    margin-top: 25px;
}
.col{
width: 100%;
display: contents;
flex-grow: 0;
}
}